.clear{clear: both;}

.marB_20{
    margin-bottom: 20px;
}
.marL_10{
    margin-left: 10px;
}
.min_H_400{
    min-height: 400px;
}

.right-text{
    text-align: right;
}

.centr-text{
    text-align: center;
}

.row-top{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .container{
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body{
    /*background-color: #2FA4E7;*/
    /*background-color: #044F97;*/
    background-color: #2b669a;
    margin-top: 15px;
}

.container{
    background-color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.navbar-default{
    background-image: linear-gradient(#376DB6, #1D5DB5 60%, #1755ab);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #17468d;
}